.header-admin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fffbf2;
    height: auto;
    align-items: center;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-admin__title-text {
    font-size: 25px;
    font-weight: bold !important;
    color: #91642b;
    
}

.header-admin__user-avatar {
    background-color: #8a5c33 !important;
}


.header-admin__user {
    display: flex;
    align-items: center;
 
}

.header-admin__user-name {
    margin-left: 20px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px !important;
    font-weight: 500 !important;
}