.home-page {
  background-color: #f5f0e8;
  padding: 20px;
}

.home-page-grid {
  margin: 0 !important;
}

.menu-section {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.menu-title {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #8a5a2a;
  margin-bottom: 20px !important;
}

.menu-divider {
  margin: 20px 0;
}

.category-grid .MuiCard-root:hover {
  background-color: #f0e8df;
}

.menu-items-grid .MuiCard-root {
  border-radius: 15px;
  box-shadow: none;
  justify-content: center !important;
}

.menu-item-image-placeholder {
  border-radius: 15px 15px 0 0;
}

.menu-item-content {
  padding: 15px !important;
}

.menu-item-name {
  font-size: 18px;
  font-weight: bold;
}

.menu-item-description {
  color: #8a5a2a;
}

.menu-item-price {
  font-size: 16px;
  font-weight: bold;
}

.menu-item-add-button {
  background-color: #8a5a2a;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 14px;
}

.menu-item-add-button:hover {
  background-color: #6e4722;
}

.order-section {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

.order-title {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #8a5a2a;
  margin-bottom: 20px !important;
}

.order-empty-message {
  background-color: #f9f5f1;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-empty-text {
  font-size: 18px;
  font-weight: bold;
  color: #8a5a2a;
}

.order-empty-subtext {
  font-size: 14px;
  color: #8a5a2a;
}
.order-summary {
  background-color: #f9f5f1;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
}

.order-summary-title {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #8a5a2a;
  margin-bottom: 10px !important;
}

.order-summary-item,
.order-summary-subtotal,
.order-summary-tax,
.order-summary-total {
  font-size: 14px;
  color: #8a5a2a;
  margin-bottom: 5px;
  margin-top: 5px !important;
  flex: 1;
}

.order-summary-tax {
  margin-top: 5px !important;
  border-bottom: 1px solid #f0e6d9;
  line-height: 20px !important;
}

.order-summary-total {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #8a5a2a;
  margin-top: 5px !important;
}

.order-summary > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order-details-title {
  font-size: 16px;
  font-weight: bold;
  color: #8a5a2a;
  margin-bottom: 10px;
}

.order-detail-item {
  background-color: #f9f5f1;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
}

.order-detail-text {
  color: #8a5a2a;
}

.order-detail-price {
  font-size: 14px;
  color: #8a5a2a;
}

.order-actions {
  display: flex;
  margin-top: 20px;
  padding: 10px 0px;
}

button.order-clear-button {
  border-radius: 10px;
  color: #8a5a2a;
  border-color: #c38c88 !important;
}

button.order-checkout-button {
  border-radius: 10px;
  background-color: #8a5a2a;
  color: #fff;
  margin-left: 10px;
}

button.order-checkout-button:hover {
  background-color: #6e4722;
}
