.customization-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  width: 650px;
  max-height: 80vh;
  overflow-y: hidden;
}

.customization-modal__content {
  padding: 20px 0; /* Chỉ giữ padding trên/dưới, loại bỏ padding trái/phải */
}

.customization-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  border-bottom: 1px solid #e6e2e2;
  background-color: #f0e6da;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.customization-modal__title {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #805d35;
}

.customization-modal__section {
  margin-top: 16px;
  padding: 0 20px;

}

.customization-modal__radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.customization-modal__section-title {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #805d35;
  margin-bottom: 8px;
}

.customization-modal__radio {
  color: #6b4e31 !important;
}

.customization-modal__radio--checked {
  color: #6b4e31 !important;
}

.customization-modal__label {
  font-size: 14px;
  color: #333;
  border: 1px solid #e6e2e2;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.customization-modal__toppings {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.customization-modal__checkbox {
  color: #6b4e31 !important;
}

.customization-modal__checkbox--checked {
  color: #6b4e31 !important;
}

.customization-modal__quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.customization-modal__quantity-text {
  font-size: 16px;
  color: #333;
}

.customization-modal__actions {
  text-align: end;
  margin-top: 40px !important;
  background-color: #f0e6da;
  width: 100%;
  border-top: 1px solid #e6e2e2;
  padding: 20px 20px;
  box-sizing: border-box;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

button.customization-modal__button--cancel {
  border: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  padding: 8px 16px;
}

button.customization-modal__button--cancel:hover {
  background-color: #f0f0f0;
}

button.customization-modal__button--add {
  background-color: #6b4e31 !important;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

button.customization-modal__button--add:hover {
  background-color: #543d27;
}

.customization-modal__radio + span,
.customization-modal__checkbox + span {
  margin-left: 4px;
}
